* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --font-colour: #2C4251;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-colour);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  padding: 2vh 16vh;
}

li > a {
  text-decoration: none;
  padding-right: 1rem;
  color: var(--font-colour);
}

a > img {
  padding-right: 0.4rem;
}

h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  padding-bottom: 0.2rem;
}

p {
  font-size: 1.2rem;
}

.introduction, .experience, .my-work {
  padding: 16vh 16vh;
}

.introduction {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.intro-img-div {
  padding: 6px 0px;
}

.introduction-img {
  height: 20px;
}

.footer {
  padding: 20px 10% 12px;
  display: grid;
  grid-template-columns: auto auto;
  border-top: 1px solid var(--font-colour);
}

.footer > p {
  font-size: 0.6rem;
  margin-bottom: 0.2rem;
}

.footer-img {
  height: 20px;
  padding-top: 4px;
}

.footer-h3 {
  font-size: 1rem;
}

.footer-text {
  font-size: 0.9rem;
}

.icon-div {
  display: flex;
  padding: 0;
}